.nutui-react-demo {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.index {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  width: 100%;
}

.title {
  width: 70%;
  display: block;
  margin: 20px 0;
  font-size: 14px;
}

.login-btn {
  display: block;
  width: 70%;
  // background-color: #1677ff;
  // color: #fff;
  border-width: 0;
  font-size: 16px;
  border-radius: 20px;
}