.card-custom {
  background-color: #fff;
  padding-top: 8px;
  padding-left: 8px;
  padding-bottom: 8px;
  border-radius: 6px;

  .nut-card .nut-card__left {
    height: 104px;

    .h5-img {
      height: 104px;
    }
  }

  .nut-card__right .nut-card__right__title {
    font-weight: 500;
  }

  .nut-card .nut-card__right .nut-card__right__price,
  .nut-card .nut-card__right .nut-card__right__other {
    display: none;
  }

  .desc {
    color: #999;
    margin-top: 4px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    font-size: 12px;
    line-height: 1.5;
    overflow: hidden;
    word-break: break-all;
  }
}

.card-custom-max {
  .nut-card .nut-card__left {
    height: 104px;
    .h5-img {
      height: 104px;
    }
  }
}