page {
  height: 100%;
  font-size: 14px;
  // color: #808080;
  background-color: #f5f5f5;

  // 去掉按钮右侧黑边
  .nut-button--primary {
    border: 0px solid transparent;
  }

  .nut-cell {
    line-height: 26px;
  }

  .nut-input {
    font-size: 16px;
  }
}